.skills-container {
  height: 100vh;
}
.skill-title {
  padding-top: 3%;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.skillitem-container {
  width: 95%;
  height: 50%;
  margin-left: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.skill-item {
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.skill-item:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.skill-item img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  .skills-container {
    height: 100vh;
  }
  .skill-title {
    font-size: 2rem;
    margin: 2rem;
    margin-bottom: -2%;
  }
  .skill-item {
    width: 5rem;
    height: 5rem;
  }
  .skill-item img {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
  }
}
