.about-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #fcfcfa;
}
.about-left {
  flex: 1;
}
.about-right {
  flex: 2;
}
.about-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-me-img {
  width: 70%;
  height: 50%;
  border-radius: 10%;
  margin-top: -5%;
  margin-bottom: 5%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.about-contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.about-contact img:hover {
  border-radius: 40%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.about-right {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 3rem;
  font-weight: 900;
}
.about-info {
  font-size: 1.5rem;
  word-spacing: 1rem;
}

@media screen and (max-width: 480px) {
  .about-container {
    height: fit-content;
    flex-direction: column;
    text-align: center;
  }
  .about-me-img {
    display: none;
  }
  .about-contact {
    margin-top: -25%;
    margin-bottom: 20%;
  }
  .title {
    font-size: 2rem;
  }
  .about-info {
    font-size: 1.1rem;
    font-weight: bolder;
    word-spacing: normal;
    text-justify: distribute;
  }
}
